html {
    scroll-behavior: smooth;
}

body,html {
    margin:0;
    padding:0;
  }

body {
    background-color: #171717;
}

a:link {
    text-decoration: none;
}

header {
    background-color: #065989;
    display: flex;
    overflow: hidden;
    font-family: 'Koulen', cursive;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
}

header > div:first-child{
    margin-right: auto;
    visibility: hidden;
}

header .head-logo{
    font-size: 1.25rem;
    font-weight: 400;
    display: inline-block;
}

.non {
    color: #ffffff;
    visibility: hidden;
}

.logo h1 {
    color: white;
}

.head-logo img {
    padding-right: 5px;
}

.head-logo #mobile {
    display: none;
}

.socials img{
    width: 32px;
    height: 32px;
    padding-right: 15px;
}

header .socials {
    margin-right: 10px;
    margin-left: auto;
}

header .menubar {
    padding: 0px 15px;
    margin-right: auto;
    font-size: 40px;
    display: none;
}

header .menubar a, .menucart  a {
    color: #ffffff;
}

header .menucart {
    padding: 0px 15px;
    margin-left: auto;
    font-size: 40px;
    display: none;
}
/* Navigation Bar */
nav {
    background-color: #ececec;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 2px 2px 10px -5px #363636;
    top: 0;
    position: sticky;
    width: 100%;
}

nav > div:first-child {
    margin-right: auto;
}

nav a {
    padding-left: 30px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: #2c2c2c;
    font-size: 1.125rem;
}

nav a:hover {
    color: #0b86cc;
}

.page-nav #mobile {
    display: none;
}
/* Search Bar Button */
.page-nav #search-bar {
    width: 200px;
    height: 25px;
    margin-left: 30px;
    border-radius: 6px;
}
.page-nav button {
    border: none;
    font-size: 1.125rem;
    background-color: #ececec;
    padding-left: 30px;
}
.page-nav button:hover {
    color: #0b86cc;
    cursor: pointer;
}
.page-nav input {
    border-color: #171717;
    font-family: 'Jost', sans-serif;
}

.tool-nav {
    margin-right: 30px;
}

.tool-nav a {
    margin-right: 30px;
}

.tool-nav button{
    border: none;
    font-size: 1.125rem;
    background-color: #ececec;
}
.tool-nav button:hover {
    color: #0b86cc;
    cursor: pointer;
}

#reg-text {
    display: none;
}

#search-bar {
    display: none;
}

/* Default Web View with Cart */
main {
    display: flex;
}

.content-main {
    width: 80vw;
    background-color: white;
    margin-top: 0;
    text-align: center;
    margin: auto;
}

.content-main h1, .content-main p {
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: #171717;
}

.content-main h1 {
    font-size: 1.75rem;
    font-weight: 700;
    padding: 10px 10px;
    text-transform: uppercase;
}

.content-main p {
    font-size: 1.15rem;
    padding: 0px 20px;
}

/* Image Slideshow */
.slideshow-container {
    max-width: 1050px;
    position: static;
    margin: auto;
    padding: 0px 10px;
  }

.slideshow-container img {
    border-style: solid;
    border-color: #0b86cc;
    border-radius: 10px;
}
  
  /* The indicators of Image Slides*/
  .indicator {
    cursor: pointer;
    height: 8px;
    width: 30px;
    border-radius: 15px;
    background-color: #171717;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #0b86cc;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* CSS for Featured Products */
.featured-prod {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    background-color: white;
    padding: 0px 25px;
    align-items: center;
}

.featured-prod > div {
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.item-container img {
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #0b86cc;
    width: 100%;
}
.item-container img:hover {
    border-color: #68c4fa;
}

.item-container h2 {
    font-size: 1.45rem;
    color: #171717;
    font-weight: 500;
}

/* Styling the Reviews section */

.rev-container {
    display: grid;
    grid: auto / auto ;
    gap: 10px;
    background-color: white;
    padding: 5px;
    padding-bottom: 25px;
}

.rev-container img {
    width: 70%;
    max-width: 600px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #0b86cc;
}

.rev-container img:hover {
    border-color: #68c4fa;
    cursor: pointer;
}

/* Start of CSS for Products.html */
.content-products {
    width: 80vw;
    background-color: white;
    margin-top: 0;
    text-align: center;
    margin: auto;
}

.content-products h1, .content-products p {
    text-align: center;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding-top: 10px;
    color: #2c2c2c;
}

.content-products h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
}

.content-products p {
    font-size: 1.25rem;
    padding: 15px 20px;
}

.featured-prod {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    padding: 10px;
    align-items: center;
}

.featured-prod > div {
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.item-container img {
    border-style: solid;
    border-width: 2px;
    border-color: #0b86cc;
    max-width: 15rem;
}

.item-container h2 {
    color: #2c2c2c;
    font-weight: 400;
}

.brand-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: white;
    padding: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.brand-img img {
    max-width: 10rem;
}
/* End of CSS for Products.html */

/* Start of CSS for Register.html */
.content-register {
    width: 80vw;
    background-color: white;
    margin-top: 0;
    margin: auto;
}

.content-register h1{
    text-align: left;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 10px 20px;
    color: #2c2c2c;
}

.content-register p{
    text-align: left;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 10px 20px;
    color: #2c2c2c;
}

.content-register h1 {
    font-size: 2rem;
    font-weight: 500;
}

.form-container {
    display: flex;
}

.column-form {
    flex: 50%;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: 'Jost', 'sans-serif';
}

.column-form input[type=text],input[type=email] {
    width: 85%;
    height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.column-form input[type=date], select {
    width: 85%;
    height: 32px;
    padding-left: 10px;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.column-form input[type=checkbox] {
    transform: scale(1.5);
}

.column-form button[type=button] {
    background-color: #0b86cc;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.submit-button {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
}

.submit-button button:hover {
    background-color: #55acef;
    cursor: pointer;
}

span {
    color: #A80000;
}

.social-connect h1 {
    padding-left: 0;
}

.social-connect p {
    padding-left: 0;
    padding-bottom: 15px;
}

.social-buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 100%;
}

.social-buttons a {
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    padding: 5px;
    text-align: center;
}

#google {
    background-color: white;
    border-color: #ffffff;
    color: #2c2c2c;
}
#google:hover {
    border-color: #2c2c2c;
}

#paypal {
    background-color: #ffc43a;
    border-color: #ffffff;
    color: #363636;
}
#paypal:hover {
    border-color: #2c2c2c;
}

#apple {
    background-color: #6b6b6b;
    border-color: #ffffff;
    color: white;
}
#apple:hover {
    border-color: #2c2c2c;
}

#facebook {
    background-color: #3b5999;
    border-color: #ffffff;
    color: white;
}
#facebook:hover {
    border-color: #2c2c2c;
}
/* End of CSS for Register.html */

/* Start of CSS for About.html */
.content-about {
    width: 80vw;
    background-color: white;
    margin-top: 0;
    margin: auto;
}

.content-about h1, .content-about p {
    text-align: left;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding-top: 10px;
    color: #2c2c2c;
}

.content-about h1 {
    font-weight: 500;
    font-size: 2rem;
}

.about-cont {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

#maps {
    padding-top: 50px;
}

iframe {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
    border-style: solid;
    border-radius: 10px;
    border-color: #39a4e2;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px 20px;
}

.about-img img {
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #0b86cc;
}
/* End of CSS for About.html */

/* Start of CSS for other webpages */
.content-privacy {
    width: 80vw;
    margin-top: 0;
    padding: 0px 30px;
    text-align: left;
    font-family: 'Jost','sans-serif';
    background-color: white;
}

.content-privacy h1 {
    font-weight: 500;
    font-size: 2rem;
}

.content-terms {
    width: 80vw;
    margin-top: 0;
    padding: 0px 30px;
    text-align: left;
    font-family: 'Jost','sans-serif';
    background-color: white;
}

.content-terms h1 {
    font-weight: 500;
    font-size: 2rem;
}

.detail-terms {
    padding-bottom: 30px;
}

.table-terms a{
    font-size: 1.25rem;
    color: #0872AF;
}

.table-terms a:hover {
    text-decoration: underline;
}

.content-misc {
    width: 80vw;
    background-color: white;
    margin-top: 0;
    text-align: center;
    margin: auto;
    
}

.content-misc h1, .content-misc p {
    text-align: center;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding-top: 10px;
    color: #2c2c2c;
}

.content-misc h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
}

.content-misc p {
    font-size: 1.25rem;
    padding-bottom: 20px;
}

.err-msg a{
    text-decoration: underline;
}

.page-blank {
    height: 1200px;
}

/* End of CSS for other webpages */

/* Styling the Aside/Cart  */

aside {
    background-color: #171717;
    width: 20vw;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    display: none;
}

aside h2 {
    text-align: center;
}

.cart-list dt {
    float: left;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 15px;
}

.cart-list dd {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 15px;
    font-weight: 500;
}

.cart-total dt {
    float: left;
    text-align: left;
    font-weight: 500;
    margin-left: 25px;
    margin-bottom: 15px;
}

.cart-total dd {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 15px;
    font-weight: 500;
}

.cart-divider {
    background-color: #ffffff;
    height: 2px;
    width: 80%;
    margin: auto;
}

.cart-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.cart-buttons button {
    background-color: #065989;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.cart-buttons button:hover {
    background-color: #39a4e2;
    cursor: pointer;
}

/* Styling the Footer section */

footer {
    background-color: #065989;
    font-family: 'Jost', sans-serif;
    width: 100%;
}

.footer-container {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-block h3, .footer-social h3{
    font-weight: 500;
    color: #ffffff;
}

.footer-block a, .footer-social a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #ffffff;
    padding-top: 5px; 
}

.footer-block a:hover, .footer-social a:hover {
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 0.95rem;
    color: #ffffff;
}

.footer-icons {
    display: none;
}

/* Setting up CSS for Mobile view */

@media screen and (max-width: 850px)  {
    .content-main, .content-products, .content-register, .content-about, .content-misc, .content-terms, .content-privacy {
        width: 100vw;
        margin: auto;
    }
    main {
        margin-top: 80px;
    }
    header .non, .socials {
        display: none;
    }
    .head-logo #mobile {
        display: inline;
    }
    .head-logo #desktop {
        display: none;
    }
    header .menubar, header .menucart {
        display: inline;
    }
    nav {
        top: 80px;
        display: none;
        padding: 0px 0px;
        overflow: auto;
        white-space: nowrap;
        position: fixed;
    }
    nav a{
        display: flex;
        flex-direction: column;
        padding: 15px 0px;
        border-bottom: solid #171717 1px;
    }
    .page-nav #mobile {
        display: block;
    }
    nav .nav-button {
        display: none;
    }
    header {
        position: fixed;
        top: 0;
        box-shadow: 2px 2px 15px -5px #363636;
    }
    .featured-prod {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 40px;
    }
    .rev-container .reviews {
        padding-bottom: 20px;
    }
    /* About Page */
    .about-cont {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
        padding-bottom: 15px;
    }
    #maps {
        padding-top: 20px;
    }
    .image-container {
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    /* Register Page */
    .form-container {
        display: flex;
        flex-direction: column;
    }
    .column-form input[type=text],input[type=email] {
        width: 90%;
    }
    .column-form input[type=date], select {
        width: 90%;
    }
    .social-buttons {
        grid-template-columns: repeat(1,1fr);
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5px 25px;
    }
    .footer-social {
        display: none;
    }
    .footer-icons {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .footer-icons a {
        color: #ffffff;
        font-size: 2rem;
        padding: 0px 10px;
    }
    .footer-copyright {
        padding: 0px 20px;
        font-size: 0.8rem;
    }
}

/* Setting up CSS for Tablet view */

@media screen and (min-width: 850px) {
    .search-bar {
        display: inline;
    }
    #reg-text, #search-bar {
        display: inline;
    }
    #reg-icon {
        display: none;
    }
    .page-nav button {
        padding-left: 10px;
    }
    .featured-prod {
        grid-template-columns: repeat(2, 1fr);
    }
    .brand-img {
        grid-template-columns: repeat(2, 1fr);
    }
    .social-buttons {
        grid-template-columns: repeat(1,1fr);
    }
}

/* Setting up CSS for Max Tablet view */
@media screen and (min-width: 1200px) {
    .featured-prod {
        grid-template-columns: repeat(4, 1fr);
    }
    .rev-container {
        display: grid;
        grid: auto / auto auto auto;
    }
    .brand-img {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

/* Setting up CSS for Laptop view */

@media screen and (min-width: 1366px){
    aside {
        display: block;
    }
    .content-main, .content-products, .content-register {
        width: 80vw;
        margin: 0;
    }
    .social-buttons {
        grid-template-columns: repeat(2,1fr);
    }

}